
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>New Schedule</h2>
    </div>
    <div class="col-lg-2">
  
    </div>
  </div>
  
  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <form [formGroup]="scheduleForm" class="form-horizontal" (ngSubmit)="onSubmit(scheduleForm.value, alertStartDate.value,
              filterStartDate.value, filterEndDate.value, alertTime.value)">
              
  
              <div class="form-group"><label class="col-lg-2 control-label m-t m-b">Schedule Name</label>
                <div class="col-lg-10 m-t m-b">
                  <input formControlName="scheduleName" type="text" placeholder="--Schedule Name--" class="form-control">
                  <h5 *ngIf="(scheduleName.dirty || scheduleName.touched) && scheduleName.invalid && scheduleName.errors.required" class="text-danger text-right">
                    Schedule name is required.
                  </h5>
                  <h5 *ngIf="(scheduleName.dirty || scheduleName.touched) && scheduleName.invalid && scheduleName.errors.minlength" class="text-danger text-right">
                    Schedule name must be at least 5 characters long.
                  </h5>
                </div>
                
              </div>
              <div class="hr-line-dashed"></div>
              <!--Subject-->
  
              <div class="form-group"><label class="col-lg-2 control-label m-t m-b">Reciepient Email</label>
                <div class="col-lg-10 m-t m-b">
                  <input formControlName="email" type="email" placeholder="--Reciepient Email--" class="form-control" required>
                  <h5 *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required" class="text-danger text-right">
                    Email is required.
                  </h5>
                  <h5 *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email" class="text-danger text-right">
                    Please provide a valid email format.
                  </h5>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <!--Reciepient Mail-->
              <div class="form-group"><label class="col-sm-2 control-label m-t m-b">File Format</label>
                <div class="col-lg-10 m-t m-b"><select formControlName="fileFormat" class="form-control">
                  <option >Excell Sheet</option>
                </select>
              </div>
              </div>
              <div class="hr-line-dashed"></div>
              <!--File Format-->
              
              <div class="form-group"><label class="col-sm-2 control-label m-t">Alert Settings</label>
                <div class="col-lg-10">
                  <div class="row">
                      <div class="col-lg-4 m-t m-b" id="data_1">
                          <div class="input-group date" style="width:100%">
                              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" 
                              class="form-control" [value]="startDate" formControlName="alertStartDate" #alertStartDate>
                          </div>
                          <h5 class="help-block m-b-none text-right">Alert Start Date</h5>
                        </div>
        
                        <div class="col-lg-4 m-t m-b" id="data_1">   
                          <div class="input-group clockpicker" style="width:100%">
                              <span class="input-group-addon"><i class="fa fa-clock-o"></i></span><input type="text" 
                              class="form-control" formControlName="alertStartTime" #alertTime>
                          </div>
                          <h5 class="help-block m-b-none text-right">Alert Time</h5>
                        </div>
  
                        <div class="col-lg-4 m-t m-b">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-circle-o-notch"></i></span>
                                <select class="form-control m-b" formControlName="alertFrequency">
                                <option *ngFor="let frequency of alertFrequencies" [value]="frequency.id">{{ frequency.name }}</option>
                                
                            </select>
                            </div>
                            <h5 class="help-block m-b-none text-right">Alert Frequency</h5>
                        </div>
  
                  </div>
                </div>
            </div>
  
            <div class="hr-line-dashed"></div>
  
            <div class="form-group"><label class="col-sm-2 control-label m-t">Tracker Filters</label>
              <div class="col-lg-10">
                  <div class="col-md-12" style="padding: 0">
                    <div class="row" style="padding: 0">
  
  
                      <div class="col-lg-4" style="padding: 0px;">
                        <mat-form-field class="example-full-width col-sm-12" >
                          <input matInput placeholder="Select Customer Trackers" (input)="customerTextChange($event.target.value)" aria-label="State" [matAutocomplete]="auto" [formControl]="customerCtrl">
                          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCustomer($event)" [displayWith]="customerDisplayFunction">
                              <mat-option *ngFor="let customer of searchedCustomers" [value]="customer">
                              <span>{{ customer.customerName }}</span>
                              </mat-option>
                          </mat-autocomplete>
                      </mat-form-field>
                      </div>

                      <div class="col-lg-4  m-t m-b">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-stop"></i></span>
                            <select class="form-control m-b" formControlName="filterModel" name="filterrr" #trackerType>
                              <option *ngFor="let type of trackerTypes" [value]="type">{{ type }}</option>
                        </select>
                        </div>
                        <h5 class="help-block m-b-none text-right">Tracker Type</h5>
                    </div>

  
                        <div class="col-lg-4 m-t m-b">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-circle-o-notch"></i></span>
                                <select class="form-control m-b" formControlName="filterStatus" name="filterr" #status>
                                    <option *ngFor="let status of trackerStatus" [value]="status">{{ status }}</option>
                                
                            </select>
                            </div>
                            <h5 class="help-block m-b-none text-right">Tracker Status</h5>
                          </div>


                    </div>
                  </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>



            <div class="form-group"><label class="col-sm-2 control-label m-t">Static Time Settings</label>
              <div class="col-lg-10">
                  <div class="col-md-12" style="padding: 0">
                    <div class="row" style="padding: 0">


                      <div class="col-lg-4 m-t m-b" id="data_1">
                        <div class="input-group date" style="width:100%">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" 
                            class="form-control" formControlName="filterStartDate" #filterStartDate>
                        </div>
                        <h5 class="help-block m-b-none text-right">Tracker Start Date</h5>
                      </div>
      
                      <div class="col-lg-4 m-t m-b" id="data_1">   
                        <div class="input-group date" style="width:100%">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" 
                            class="form-control" formControlName="filterEndDate" #filterEndDate>
                        </div>
                        <h5 class="help-block m-b-none text-right">Tracker End Date</h5>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>


            <div class="form-group"><label class="col-sm-2 control-label m-t">Dynamic Time Settings</label>
              <div class="col-lg-10">
                  <div class="col-md-12" style="padding: 0">
                    <div class="row" style="padding: 0; padding-bottom: 20px;">

                      
                      <div class="col-lg-4" style="padding: 0px;">
                        <mat-form-field class="example-full-width col-sm-12">
                          <mat-label>Time Frame</mat-label>
                          <input type="number"  matInput formControlName="timeFrameCtrl">
                        </mat-form-field>
                      </div>

                      <div class="col-lg-4" style="padding: 0px;">
                        <mat-form-field class="example-full-width col-sm-12">
                          <mat-label>Start Time Frame</mat-label>
                          <input type="number" matInput formControlName="startTimeFrameCtrl">
                        </mat-form-field>
                      </div>

                      <div class="col-lg-4" style="padding: 0px;">
                        <mat-form-field class="example-full-width col-sm-12">
                          <mat-label>End Time Frame</mat-label>
                          <input type="number" matInput formControlName="endTimeFrameCtrl">
                        </mat-form-field>
                      </div>

                    </div>
                  </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-primary pull-right" type="submit" [disabled]="!scheduleForm.valid">Save Schedule</button>
                </div>
            </div>
  
            <!--End of Alert time-->
  
            </form>
            </div>
            </div>
      </div>
      </div>
  
  
        